{
  "gemini_api_key": "ADD-GEMINI-KEY",
  "gemini_model": "gemini-2.5-flash",
  "supadata_api_key": "ADD_SUPADATA-KEY",
  "base_url": "",
  "feeds": [
    {
      "channel_id": "CHANNEL-ID",
      "channel_name": "Name of Feed",
      "focus": "things you care about for the AI to use to find stories"
    },
    {
      "channel_id": "CHANNEL-ID-2",
      "channel_name": "Something else",
      "focus": "things that matter for this feed"
    }
  ]
}
